body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 4rem 1rem;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 160px;
  height: 100px;
  border-radius: 5%;
  background-color: rgba(76, 143, 179, 0.575);
  padding: 10px;
  margin-bottom: 20px;
}

.card-text {
  font-weight: 600;
  font-size: 12px;
  margin: 10px 10px 30px;
}

.input-wrapper {
  margin-top: 30px;
  margin-bottom: 60px;
}

/* .transactions-wrapper {
  padding: 0;
} */

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: gray;
  border-radius: 10px;
  /* height: 40px; */
  font-size: 14px;
  margin-top: 20px;
}

@media screen and (min-width: 769px) {
 
}